# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
data/
*.db

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
